<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testing Sonect">

<listeners>
    <listener class-name = "sonect.sonect.TestListener"></listener>
 </listeners>

    <test name="Regression">
         <classes>
             <class name="sonect.sonect.OnBoardingCHTest">
             <methods>
        		<exclude name="SonnectHomePageTest" />
      		</methods>
      		</class>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->